@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');
@keyframes fadein {
    0% { opacity: 0; 
        scale: 0;}
    100% { opacity: 1; 
        scale: 1;}
  }
  
body{
    background-color: rgb(29, 33, 56);
}
body::backdrop{
    background-color: rgb(29, 33, 56);
}
div{
    position: relative;
    display: block;
    margin-left: auto;
    z-index: 666;
    flex: 1 ;
}
.header{
    display: flex;
}
div ul #div h1{
    padding: 10px 10px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;   
    cursor: pointer;
    z-index: -1;
}
#menu_div{
    text-align: right;
}
#menu{
    margin: 22px 30px;
    display: none;
}
div ul .header #menu_div #menu:hover{
    scale: 1.2  ;
}
#menu.active{
    animation: fadein 0.3s;
}
div ul #div{
    text-align: left;
    display: flex;
}
div ul{
    text-align: right;
}
div ul i{
    display: inline-block;
    color: white;
    margin: 20px 30px;
    cursor: pointer;
    scale: 1.2;
    transition: ease 0.3s;
}
div ul i:hover{
    scale: 1.6;
}
.container{
    background-color: white;
    width: 50vw;
    min-height: 50vh;
}
#about{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;  
    transform: translateY(-57vh);
    margin-left: 54px;
    z-index: 1;
    margin-top: 100px;
}
#para{
    color: white;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-left: 54px;  
    transform: translateY(-60vh);
    margin-right: 200px;
    font-size: 15px;
    z-index: 1;
}
.menu{
    display: none;
}
@media only screen and (max-width: 836px) {
    #menu{
        margin: 22px 40px;
        display: block;
    }
    #home{
        display: none;
    }
    #search{
        display: none;
    }
    #fscreen{
        display: none;
    }
    #settings{
        display: none;
    }
    #html{
        display: none;
    }
    #about{
        transform: translateY(0px);
        margin-top: 10px;
    }
    #para{
        transform: translateY(0px);
        margin-right: 30px;
    }
    .menu{
        position: absolute;
        display: block;
        margin-left: auto;
        background-color: black;
        height: 100vh;
        width: 60vw;
        display: none;
        z-index: -1;
        color: white;
        transform: translateY(-80px);
        text-align: left;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
    }
    .menu .home_android {
        color: white;
        font-size: 25px;
        margin-top: 100px ;
        padding: 0 20px;
        background-color: rgb(51, 51, 51);
    }
    .menu h1{
        color: white;
        font-size: 25px;
        margin: 20px 0;
        padding: 0 20px;
        background-color: rgb(51, 51, 51);
    }
}
